@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital@0;1&display=swap')

:root{
    --branco: white;
    --cor-de-fundo: #00162E;
    --cor-senha: #00244D;
    --fundo-texto: #001E40;
    --borda: #0075FF;
}

body{
    color: white;
    background-color: #00162E;
    --roboto-mono: "Roboto Mono", monospace;font-optical-sizing: auto;font-weight: 400;font-style: normal;
    --roboto: "Roboto", sans-serif;font-weight: 400;font-style: normal;

}

.titulo-principal{
    font-family: var(--roboto-mono);
    font-size: 32px;
}

.titulo-secundario{
    font-size: 24px;
}